{
  "$schema": "http://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "semi": true,
  "bracketSameLine": false,
  "printWidth": 120,
  "tabWidth": 2,
  "proseWrap": "never",
  "arrowParens": "avoid",
  "trailingComma": "none",
  "endOfLine": "lf"
}