@font-face {
  font-family: 'Aliba';
  src: url('fonts/AlibabaPuHuiTi.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlibabaPuHuiTi_2_85_Bold';
  src: url('fonts/AlibabaPuHuiTi-2-85-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AlibabaPuHuiTi_2_55_Regular';
  src: url('fonts/AlibabaPuHuiTi-2-55-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JiangChengXieHei';
  src: url('fonts/JiangChengXieHei.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PangMenZhengDao';
  src: url('fonts/PangMenZhengDaoBiao.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('fonts/YouSheBiaoTiHei.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url('fonts/Oswald-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Impact';
  src: url('fonts/Impact.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFangSC';
  src: url('fonts/PingFang Medium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ZenDots-Regular';
  src: url('fonts/ZenDots-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wpg_effluent_state:before {
  content: '\e900';
}

.icon-wpg_energy:before {
  content: '\e901';
}

.icon-wpg_gis_net:before {
  content: '\e902';
}

.icon-wpg_inlet_state:before {
  content: '\e903';
}

.icon-wpg_Liquid_level:before {
  content: '\e904';
}

.icon-wpg_network_state:before {
  content: '\e905';
}

.icon-wpg_network:before {
  content: '\e906';
  color: #2c99d7;
}

.icon-wpg_pool:before {
  content: '\e907';
}

.icon-wpg_pressure_state:before {
  content: '\e908';
}

.icon-wpg_pressure:before {
  content: '\e909';
  color: #e665d2;
}

.icon-wpg_priority_high:before {
  content: '\e90a';
}

.icon-wpg_priority_low:before {
  content: '\e90b';
}

.icon-wpg_pump_station_state:before {
  content: '\e90c';
}

.icon-wpg_pump_station:before {
  content: '\e90d';
  color: #27d6c5;
}

.icon-wpg_pump1:before {
  content: '\e90e';
}

.icon-wpg_pump2:before {
  content: '\e90f';
}

.icon-wpg_pump3:before {
  content: '\e910';
}

.icon-wpg_pump4:before {
  content: '\e911';
}

.icon-wpg_pump5:before {
  content: '\e912';
}

.icon-wpg_pump6:before {
  content: '\e913';
}

.icon-wpg_secondary_water_supply_state:before {
  content: '\e914';
}

.icon-wpg_secondary_water_supply:before {
  content: '\e915';
  color: #0ec5e8;
}

.icon-wpg_traffic_state:before {
  content: '\e916';
}

.icon-wpg_traffic:before {
  content: '\e917';
  color: #5f79ff;
}

.icon-wpg_uitraviolet1:before {
  content: '\e918';
}

.icon-wpg_uitraviolet2:before {
  content: '\e919';
}

.icon-wpg_uitraviolet3:before {
  content: '\e91a';
}

.icon-wpg_uitraviolet4:before {
  content: '\e91b';
}

.icon-wpg_uitraviolet5:before {
  content: '\e91c';
}

.icon-wpg_uitraviolet6:before {
  content: '\e91d';
}

.icon-wpg_water_meter_map:before {
  content: '\e91e';
}

.icon-wpg_water_meter:before {
  content: '\e91f';
}

.icon-wpg_water_plants_state:before {
  content: '\e920';
}

.icon-wpg_water_plants:before {
  content: '\e921';
  color: #9773f0;
}

.icon-wpg_water_pump_ic:before {
  content: '\e922';
}

.icon-wpg_water_quality:before {
  content: '\e923';
}

.icon-wpg_water_source:before {
  content: '\e924';
}

.icon-wpg_workorder_-task:before {
  content: '\e925';
}

.icon-wpg_workorder_close:before {
  content: '\e926';
}

.icon-wpg_workorder_complaint:before {
  content: '\e927';
}

.icon-wpg_workorder_completed:before {
  content: '\e928';
}

.icon-wpg_workorder_customization:before {
  content: '\e929';
}

.icon-wpg_workorder_distribute:before {
  content: '\e92a';
}

.icon-wpg_workorder_fault:before {
  content: '\e92b';
}

.icon-wpg_workorder_maintenance-man:before {
  content: '\e92c';
}

.icon-wpg_workorder_manage:before {
  content: '\e92d';
}

.icon-wpg_workorder_overtime:before {
  content: '\e92e';
}

.icon-wpg_workorder_payout:before {
  content: '\e92f';
}

.icon-wpg_workorder_sendback:before {
  content: '\e930';
}

.icon-wpg_workorder_service:before {
  content: '\e931';
}

.icon-wpg_workorder_statistics:before {
  content: '\e932';
}

.icon-wpg_workorder_transform:before {
  content: '\e933';
}

.icon-wpg_workorder_untreated:before {
  content: '\e934';
}

.icon-ic_accessory:before {
  content: '\e935';
}

.icon-ic_account_balance:before {
  content: '\e936';
}

.icon-ic_account_box:before {
  content: '\e937';
}

.icon-ic_account_circle:before {
  content: '\e938';
}

.icon-ic_add_a_photo:before {
  content: '\e939';
}

.icon-ic_add_alert:before {
  content: '\e93a';
}

.icon-ic_add_box:before {
  content: '\e93b';
}

.icon-ic_add_circle_outline:before {
  content: '\e93c';
}

.icon-ic_add_circle:before {
  content: '\e93d';
}

.icon-ic_add_to_queue:before {
  content: '\e93e';
}

.icon-ic_add:before {
  content: '\e93f';
}

.icon-ic_airplay:before {
  content: '\e940';
}

.icon-ic_alarm_add:before {
  content: '\e941';
}

.icon-ic_alarm_on:before {
  content: '\e942';
}

.icon-ic_alarm:before {
  content: '\e943';
}

.icon-ic_all_out:before {
  content: '\e944';
}

.icon-ic_announcement:before {
  content: '\e945';
}

.icon-ic_apps:before {
  content: '\e946';
}

.icon-ic_architecture:before {
  content: '\e947';
}

.icon-ic_archive:before {
  content: '\e948';
}

.icon-ic_area:before {
  content: '\e949';
}

.icon-ic_areas:before {
  content: '\e94a';
}

.icon-ic_arrow_back:before {
  content: '\e94b';
}

.icon-ic_arrow_downward:before {
  content: '\e94c';
}

.icon-ic_arrow_drop_down_circle:before {
  content: '\e94d';
}

.icon-ic_arrow_drop_down:before {
  content: '\e94e';
}

.icon-ic_arrow_drop_up:before {
  content: '\e94f';
}

.icon-ic_arrow_forward:before {
  content: '\e950';
}

.icon-ic_arrow_upward:before {
  content: '\e951';
}

.icon-ic_assessment:before {
  content: '\e952';
}

.icon-ic_assignment_24px:before {
  content: '\e953';
}

.icon-ic_assignment_ind:before {
  content: '\e954';
}

.icon-ic_assignment_late:before {
  content: '\e955';
}

.icon-ic_assignment_return:before {
  content: '\e956';
}

.icon-ic_assignment_returned:before {
  content: '\e957';
}

.icon-ic_assignment_turned_in:before {
  content: '\e958';
}

.icon-ic_attach_file:before {
  content: '\e959';
}

.icon-ic_attachment:before {
  content: '\e95a';
}

.icon-ic_audiotrack:before {
  content: '\e95b';
}

.icon-ic_autorenew:before {
  content: '\e95c';
}

.icon-ic_av_timer:before {
  content: '\e95d';
}

.icon-ic_backspace:before {
  content: '\e95e';
}

.icon-ic_backup:before {
  content: '\e95f';
}

.icon-ic_badge:before {
  content: '\e960';
}

.icon-ic_bars:before {
  content: '\e961';
}

.icon-ic_beaker:before {
  content: '\e962';
}

.icon-ic_beenhere:before {
  content: '\e963';
}

.icon-ic_black_board:before {
  content: '\e964';
}

.icon-ic_block:before {
  content: '\e965';
}

.icon-ic_blood_drop:before {
  content: '\e966';
}

.icon-ic_blood_test:before {
  content: '\e967';
}

.icon-ic_book:before {
  content: '\e968';
}

.icon-ic_bookmark_border:before {
  content: '\e969';
}

.icon-ic_bookmark:before {
  content: '\e96a';
}

.icon-ic_border_all:before {
  content: '\e96b';
}

.icon-ic_border_color:before {
  content: '\e96c';
}

.icon-ic_broken_image:before {
  content: '\e96d';
}

.icon-ic_brush:before {
  content: '\e96e';
}

.icon-ic_build:before {
  content: '\e96f';
}

.icon-ic_business:before {
  content: '\e970';
}

.icon-ic_cached:before {
  content: '\e971';
}

.icon-ic_call_end:before {
  content: '\e972';
}

.icon-ic_call_made:before {
  content: '\e973';
}

.icon-ic_call_merge:before {
  content: '\e974';
}

.icon-ic_call_missed_outgoing:before {
  content: '\e975';
}

.icon-ic_call_missed:before {
  content: '\e976';
}

.icon-ic_call_received:before {
  content: '\e977';
}

.icon-ic_call_split:before {
  content: '\e978';
}

.icon-ic_call:before {
  content: '\e979';
}

.icon-ic_camera_alt:before {
  content: '\e97a';
}

.icon-ic_camera:before {
  content: '\e97b';
}

.icon-ic_cancel:before {
  content: '\e97c';
}

.icon-ic_card_giftcard:before {
  content: '\e97d';
}

.icon-ic_card_membership:before {
  content: '\e97e';
}

.icon-ic_card_travel:before {
  content: '\e97f';
}

.icon-ic_cast_connected:before {
  content: '\e980';
}

.icon-ic_cast:before {
  content: '\e981';
}

.icon-ic_chart_arrows_axis:before {
  content: '\e982';
}

.icon-ic_chat:before {
  content: '\e983';
}

.icon-ic_check_circle:before {
  content: '\e984';
}

.icon-ic_check:before {
  content: '\e985';
}

.icon-ic_checkbox:before {
  content: '\e986';
}

.icon-ic_chevron_left_more:before {
  content: '\e987';
}

.icon-ic_chevron_left:before {
  content: '\e988';
}

.icon-ic_chevron_right_more:before {
  content: '\e989';
}

.icon-ic_chevron_right:before {
  content: '\e98a';
}

.icon-ic_chrome_reader_mode:before {
  content: '\e98b';
}

.icon-ic_clear:before {
  content: '\e98c';
}

.icon-ic_close:before {
  content: '\e98d';
}

.icon-ic_cloud_done:before {
  content: '\e98e';
}

.icon-ic_cloud_download:before {
  content: '\e98f';
}

.icon-ic_cloud_off:before {
  content: '\e990';
}

.icon-ic_cloud_queue:before {
  content: '\e991';
}

.icon-ic_cloud_upload:before {
  content: '\e992';
}

.icon-ic_cloud:before {
  content: '\e993';
}

.icon-ic_code:before {
  content: '\e994';
}

.icon-ic_collector:before {
  content: '\e995';
}

.icon-ic_color_lens:before {
  content: '\e996';
}

.icon-ic_color_picker:before {
  content: '\e997';
}

.icon-ic_colorize:before {
  content: '\e998';
}

.icon-ic_compare_arrows:before {
  content: '\e999';
}

.icon-ic_computer:before {
  content: '\e99a';
}

.icon-ic_contact_mail:before {
  content: '\e99b';
}

.icon-ic_contact_phone:before {
  content: '\e99c';
}

.icon-ic_content_copy:before {
  content: '\e99d';
}

.icon-ic_content_cut:before {
  content: '\e99e';
}

.icon-ic_content_paste:before {
  content: '\e99f';
}

.icon-ic_create_new_folder:before {
  content: '\e9a0';
}

.icon-ic_create:before {
  content: '\e9a1';
}

.icon-ic_dash:before {
  content: '\e9a2';
}

.icon-ic_dashboard_web:before {
  content: '\e9a3';
}

.icon-ic_dashboard:before {
  content: '\e9a4';
}

.icon-ic_data_services:before {
  content: '\e9a5';
}

.icon-ic_database:before {
  content: '\e9a6';
}

.icon-ic_date_range:before {
  content: '\e9a7';
}

.icon-ic_dehumidification:before {
  content: '\e9a8';
  color: #16a53f;
}

.icon-ic_delete:before {
  content: '\e9a9';
}

.icon-ic_description:before {
  content: '\e9aa';
}

.icon-ic_desktop_mac:before {
  content: '\e9ab';
}

.icon-ic_developer_board:before {
  content: '\e9ac';
}

.icon-ic_device_hub:before {
  content: '\e9ad';
}

.icon-ic_devices:before {
  content: '\e9ae';
}

.icon-ic_dns:before {
  content: '\e9af';
}

.icon-ic_done:before {
  content: '\e9b0';
}

.icon-ic_donut_large:before {
  content: '\e9b1';
}

.icon-ic_donut_small:before {
  content: '\e9b2';
}

.icon-ic_down:before {
  content: '\e9b3';
}

.icon-ic_drafts:before {
  content: '\e9b4';
}

.icon-ic_ds:before {
  content: '\e9b5';
}

.icon-ic_dvr:before {
  content: '\e9b6';
}

.icon-ic_earnings:before {
  content: '\e9b7';
}

.icon-ic_editor:before {
  content: '\e9b8';
  color: #4285f4;
}

.icon-ic_eject:before {
  content: '\e9b9';
}

.icon-ic_electric:before {
  content: '\e9ba';
}

.icon-ic_electricity:before {
  content: '\e9bb';
  color: #9b45ca;
}

.icon-ic_email:before {
  content: '\e9bc';
}

.icon-ic_entypo_book:before {
  content: '\e9bd';
}

.icon-ic_equalizer:before {
  content: '\e9be';
}

.icon-ic_equipment:before {
  content: '\e9bf';
}

.icon-ic_error_outline:before {
  content: '\e9c0';
}

.icon-ic_error:before {
  content: '\e9c1';
}

.icon-ic_event_available:before {
  content: '\e9c2';
}

.icon-ic_event_busy:before {
  content: '\e9c3';
}

.icon-ic_event_note:before {
  content: '\e9c4';
}

.icon-ic_event:before {
  content: '\e9c5';
}

.icon-ic_exit_to_app:before {
  content: '\e9c6';
}

.icon-ic_expand_less:before {
  content: '\e9c7';
}

.icon-ic_expand_more:before {
  content: '\e9c8';
}

.icon-ic_explore:before {
  content: '\e9c9';
}

.icon-ic_extension:before {
  content: '\e9ca';
}

.icon-ic_face:before {
  content: '\e9cb';
}

.icon-ic_fan:before {
  content: '\e9cc';
  color: #1483fe;
}

.icon-ic_fast_forward:before {
  content: '\e9cd';
}

.icon-ic_fast_rewind:before {
  content: '\e9ce';
}

.icon-ic_favorite_border:before {
  content: '\e9cf';
}

.icon-ic_favorite:before {
  content: '\e9d0';
}

.icon-ic_file_data:before {
  content: '\e9d1';
}

.icon-ic_file_download:before {
  content: '\e9d2';
}

.icon-ic_file_excel:before {
  content: '\e9d3';
}

.icon-ic_files_stack:before {
  content: '\e9d4';
}

.icon-ic_find_in_page:before {
  content: '\e9d5';
}

.icon-ic_find_replace:before {
  content: '\e9d6';
}

.icon-ic_fingerprint:before {
  content: '\e9d7';
}

.icon-ic_flag:before {
  content: '\e9d8';
}

.icon-ic_flask:before {
  content: '\e9d9';
}

.icon-ic_flow_tree:before {
  content: '\e9da';
}

.icon-ic_folder_open:before {
  content: '\e9db';
}

.icon-ic_folder_shared:before {
  content: '\e9dc';
}

.icon-ic_folder:before {
  content: '\e9dd';
}

.icon-ic_font_download:before {
  content: '\e9de';
}

.icon-ic_format_list_bulleted:before {
  content: '\e9df';
}

.icon-ic_forum:before {
  content: '\e9e0';
}

.icon-ic_forward:before {
  content: '\e9e1';
}

.icon-ic_frame_select:before {
  content: '\e9e2';
}

.icon-ic_fullscreen_exit:before {
  content: '\e9e3';
}

.icon-ic_fullscreen:before {
  content: '\e9e4';
}

.icon-ic_games:before {
  content: '\e9e5';
}

.icon-ic_gavel:before {
  content: '\e9e6';
}

.icon-ic_get_app:before {
  content: '\e9e7';
}

.icon-ic_gps_fixed:before {
  content: '\e9e8';
}

.icon-ic_gps_not_fixed:before {
  content: '\e9e9';
}

.icon-ic_gps_off:before {
  content: '\e9ea';
}

.icon-ic_grade:before {
  content: '\e9eb';
}

.icon-ic_graph:before {
  content: '\e9ec';
}

.icon-ic_group_work:before {
  content: '\e9ed';
}

.icon-ic_group:before {
  content: '\e9ee';
}

.icon-ic_headset_mic:before {
  content: '\e9ef';
}

.icon-ic_headset:before {
  content: '\e9f0';
}

.icon-ic_help-2:before {
  content: '\e9f1';
  color: #4285f4;
}

.icon-ic_help_outline:before {
  content: '\e9f2';
}

.icon-ic_help:before {
  content: '\e9f3';
}

.icon-ic_highlight_off:before {
  content: '\e9f4';
}

.icon-ic_highlight:before {
  content: '\e9f5';
}

.icon-ic_history:before {
  content: '\e9f6';
}

.icon-ic_home:before {
  content: '\e9f7';
}

.icon-ic_hourglass_empty:before {
  content: '\e9f8';
}

.icon-ic_https:before {
  content: '\e9f9';
}

.icon-ic_humidity:before {
  content: '\e9fa';
  color: #67680f;
}

.icon-ic_hydraulic_model:before {
  content: '\e9fb';
}

.icon-ic_import_contacts:before {
  content: '\e9fc';
}

.icon-ic_important_devices:before {
  content: '\e9fd';
}

.icon-ic_inbox:before {
  content: '\e9fe';
}

.icon-ic_info_outline:before {
  content: '\e9ff';
}

.icon-ic_info:before {
  content: '\ea00';
}

.icon-ic_info1:before {
  content: '\ea01';
}

.icon-ic_info2:before {
  content: '\ea02';
}

.icon-ic_input:before {
  content: '\ea03';
}

.icon-ic_insert_chart:before {
  content: '\ea04';
}

.icon-ic_insert_drive_file:before {
  content: '\ea05';
}

.icon-ic_insert_emoticon:before {
  content: '\ea06';
}

.icon-ic_insert_photo:before {
  content: '\ea07';
}

.icon-ic_interface:before {
  content: '\ea08';
}

.icon-ic_invert_colors:before {
  content: '\ea09';
}

.icon-ic_keyboard_arrow_down:before {
  content: '\ea0a';
}

.icon-ic_keyboard_arrow_left:before {
  content: '\ea0b';
}

.icon-ic_keyboard_arrow_right:before {
  content: '\ea0c';
}

.icon-ic_keyboard_arrow_up:before {
  content: '\ea0d';
}

.icon-ic_keyboard_backspace:before {
  content: '\ea0e';
}

.icon-ic_keyboard_capslock:before {
  content: '\ea0f';
}

.icon-ic_keyboard_return:before {
  content: '\ea10';
}

.icon-ic_keyboard_tab:before {
  content: '\ea11';
}

.icon-ic_keyboard:before {
  content: '\ea12';
}

.icon-ic_label_outline:before {
  content: '\ea13';
}

.icon-ic_label:before {
  content: '\ea14';
}

.icon-ic_language:before {
  content: '\ea15';
}

.icon-ic_launch:before {
  content: '\ea16';
}

.icon-ic_layers:before {
  content: '\ea17';
}

.icon-ic_library_add:before {
  content: '\ea18';
}

.icon-ic_library_books:before {
  content: '\ea19';
}

.icon-ic_lightbulb_outline:before {
  content: '\ea1a';
}

.icon-ic_lighting:before {
  content: '\ea1b';
  color: #ffad57;
}

.icon-ic_linear_scale:before {
  content: '\ea1c';
}

.icon-ic_link:before {
  content: '\ea1d';
}

.icon-ic_list:before {
  content: '\ea1e';
}

.icon-ic_live_help:before {
  content: '\ea1f';
}

.icon-ic_live_support:before {
  content: '\ea20';
}

.icon-ic_local_activity:before {
  content: '\ea21';
}

.icon-ic_local_cafe:before {
  content: '\ea22';
}

.icon-ic_local_library:before {
  content: '\ea23';
}

.icon-ic_local_offer:before {
  content: '\ea24';
}

.icon-ic_location_bg:before {
  content: '\ea25';
}

.icon-ic_location_off:before {
  content: '\ea26';
}

.icon-ic_location_on:before {
  content: '\ea27';
}

.icon-ic_location:before {
  content: '\ea28';
}

.icon-ic_lock_open:before {
  content: '\ea29';
}

.icon-ic_lock_outline:before {
  content: '\ea2a';
}

.icon-ic_loyalty:before {
  content: '\ea2b';
}

.icon-ic_mail_outline:before {
  content: '\ea2c';
}

.icon-ic_mail:before {
  content: '\ea2d';
}

.icon-ic_map_meter:before {
  content: '\ea2e';
}

.icon-ic_map_pins:before {
  content: '\ea2f';
}

.icon-ic_map:before {
  content: '\ea30';
}

.icon-ic_markunread_mailbox:before {
  content: '\ea31';
}

.icon-ic_meter:before {
  content: '\ea32';
}

.icon-ic_mic_none:before {
  content: '\ea33';
}

.icon-ic_mic_off:before {
  content: '\ea34';
}

.icon-ic_mic:before {
  content: '\ea35';
}

.icon-ic_mobile_phone:before {
  content: '\ea36';
}

.icon-ic_module:before {
  content: '\ea37';
}

.icon-ic_monitor:before {
  content: '\ea38';
}

.icon-ic_more_horiz:before {
  content: '\ea39';
}

.icon-ic_more_vert:before {
  content: '\ea3a';
}

.icon-ic_motorcycle:before {
  content: '\ea3b';
}

.icon-ic_move_to_inbox:before {
  content: '\ea3c';
}

.icon-ic_multibar:before {
  content: '\ea3d';
}

.icon-ic_navigation:before {
  content: '\ea3e';
}

.icon-ic_near_me:before {
  content: '\ea3f';
}

.icon-ic_network_check:before {
  content: '\ea40';
}

.icon-ic_network_locked:before {
  content: '\ea41';
}

.icon-ic_new_releases:before {
  content: '\ea42';
}

.icon-ic_next_week:before {
  content: '\ea43';
}

.icon-ic_no_sim:before {
  content: '\ea44';
}

.icon-ic_not_interested:before {
  content: '\ea45';
}

.icon-ic_note_add:before {
  content: '\ea46';
}

.icon-ic_notifications_active:before {
  content: '\ea47';
}

.icon-ic_notifications_none:before {
  content: '\ea48';
}

.icon-ic_notifications_off:before {
  content: '\ea49';
}

.icon-ic_number_box:before {
  content: '\ea4a';
}

.icon-ic_open_in_browser:before {
  content: '\ea4b';
}

.icon-ic_open_with:before {
  content: '\ea4c';
}

.icon-ic_paraphrase:before {
  content: '\ea4d';
}

.icon-ic_party_mode:before {
  content: '\ea4e';
}

.icon-ic_pause_circle_filled:before {
  content: '\ea4f';
}

.icon-ic_pause_circle_outline:before {
  content: '\ea50';
}

.icon-ic_pause:before {
  content: '\ea51';
}

.icon-ic_perm_data_setting:before {
  content: '\ea52';
}

.icon-ic_perm_identity:before {
  content: '\ea53';
}

.icon-ic_perm_media:before {
  content: '\ea54';
}

.icon-ic_perm_phone_msg:before {
  content: '\ea55';
}

.icon-ic_perm_scan_wifi:before {
  content: '\ea56';
}

.icon-ic_person_add:before {
  content: '\ea57';
}

.icon-ic_person:before {
  content: '\ea58';
}

.icon-ic_phonelink_lock:before {
  content: '\ea59';
}

.icon-ic_phonelink_ring:before {
  content: '\ea5a';
}

.icon-ic_phonelink_setup:before {
  content: '\ea5b';
}

.icon-ic_pipeline:before {
  content: '\ea5c';
}

.icon-ic_play_arrow:before {
  content: '\ea5d';
}

.icon-ic_play_circle_filled:before {
  content: '\ea5e';
}

.icon-ic_play_circle_outline:before {
  content: '\ea5f';
}

.icon-ic_police:before {
  content: '\ea60';
}

.icon-ic_polygon:before {
  content: '\ea61';
}

.icon-ic_polymer:before {
  content: '\ea62';
}

.icon-ic_portable_wifi_off:before {
  content: '\ea63';
}

.icon-ic_power_settings_new:before {
  content: '\ea64';
}

.icon-ic_power:before {
  content: '\ea65';
}

.icon-ic_presentation:before {
  content: '\ea66';
}

.icon-ic_print:before {
  content: '\ea67';
}

.icon-ic_proportion_three:before {
  content: '\ea68';
}

.icon-ic_proportion_two:before {
  content: '\ea69';
}

.icon-ic_public:before {
  content: '\ea6a';
}

.icon-ic_publish:before {
  content: '\ea6b';
}

.icon-ic_pump_bg:before {
  content: '\ea6c';
}

.icon-ic_pump:before {
  content: '\ea6d';
  color: #536fb9;
}

.icon-ic_query_builder:before {
  content: '\ea6e';
}

.icon-ic_question_answer:before {
  content: '\ea6f';
}

.icon-ic_radios_on:before {
  content: '\ea70';
}

.icon-ic_record:before {
  content: '\ea71';
}

.icon-ic_redo:before {
  content: '\ea72';
}

.icon-ic_refresh:before {
  content: '\ea73';
}

.icon-ic_remove_circle_outline:before {
  content: '\ea74';
}

.icon-ic_remove_circle:before {
  content: '\ea75';
}

.icon-ic_remove:before {
  content: '\ea76';
}

.icon-ic_reorder:before {
  content: '\ea77';
}

.icon-ic_repair:before {
  content: '\ea78';
}

.icon-ic_repeat:before {
  content: '\ea79';
}

.icon-ic_reply_all:before {
  content: '\ea7a';
}

.icon-ic_reply:before {
  content: '\ea7b';
}

.icon-ic_report_problem:before {
  content: '\ea7c';
}

.icon-ic_report:before {
  content: '\ea7d';
}

.icon-ic_resize_enlarge:before {
  content: '\ea7e';
}

.icon-ic_resize_shrink:before {
  content: '\ea7f';
}

.icon-ic_revenue_report:before {
  content: '\ea80';
}

.icon-ic_road:before {
  content: '\ea81';
}

.icon-ic_room:before {
  content: '\ea82';
}

.icon-ic_router:before {
  content: '\ea83';
}

.icon-ic_ruler:before {
  content: '\ea84';
}

.icon-ic_save:before {
  content: '\ea85';
}

.icon-ic_school:before {
  content: '\ea86';
}

.icon-ic_screening:before {
  content: '\ea87';
}

.icon-ic_screening2:before {
  content: '\ea88';
}

.icon-ic_sd_storage:before {
  content: '\ea89';
}

.icon-ic_search:before {
  content: '\ea8a';
}

.icon-ic_security:before {
  content: '\ea8b';
}

.icon-ic_send:before {
  content: '\ea8c';
}

.icon-ic_service_report:before {
  content: '\ea8d';
}

.icon-ic_settings_applications:before {
  content: '\ea8e';
}

.icon-ic_settings_ethernet:before {
  content: '\ea8f';
}

.icon-ic_settings_input_antenna:before {
  content: '\ea90';
}

.icon-ic_settings_input_composite:before {
  content: '\ea91';
}

.icon-ic_settings_input_hdmi:before {
  content: '\ea92';
}

.icon-ic_settings_input_svideo:before {
  content: '\ea93';
}

.icon-ic_settings_remote:before {
  content: '\ea94';
}

.icon-ic_settings_system_daydream:before {
  content: '\ea95';
}

.icon-ic_settings:before {
  content: '\ea96';
}

.icon-ic_share:before {
  content: '\ea97';
}

.icon-ic_shuffle:before {
  content: '\ea98';
}

.icon-ic_Shut-down:before {
  content: '\ea99';
  color: #4285f4;
}

.icon-ic_signal_wifi_4_bar_lock:before {
  content: '\ea9a';
}

.icon-ic_signal_wifi_4_bar:before {
  content: '\ea9b';
}

.icon-ic_signal_wifi_off:before {
  content: '\ea9c';
}

.icon-ic_silt:before {
  content: '\ea9d';
}

.icon-ic_sim_card:before {
  content: '\ea9e';
}

.icon-ic_skip_next:before {
  content: '\ea9f';
}

.icon-ic_skip_previous:before {
  content: '\eaa0';
}

.icon-ic_smart_inspection:before {
  content: '\eaa1';
}

.icon-ic_sort:before {
  content: '\eaa2';
}

.icon-ic_statistic:before {
  content: '\eaa3';
}

.icon-ic_stay_current_landscape:before {
  content: '\eaa4';
}

.icon-ic_stay_current_portrait:before {
  content: '\eaa5';
}

.icon-ic_step_check:before {
  content: '\eaa6';
}

.icon-ic_step_on:before {
  content: '\eaa7';
}

.icon-ic_stop_screen_share:before {
  content: '\eaa8';
}

.icon-ic_stop:before {
  content: '\eaa9';
}

.icon-ic_storage:before {
  content: '\eaaa';
}

.icon-ic_store:before {
  content: '\eaab';
}

.icon-ic_street_view:before {
  content: '\eaac';
}

.icon-ic_subject:before {
  content: '\eaad';
}

.icon-ic_supervisor_account:before {
  content: '\eaae';
}

.icon-ic_swap_calls:before {
  content: '\eaaf';
}

.icon-ic_swap_horiz:before {
  content: '\eab0';
}

.icon-ic_swap_vert:before {
  content: '\eab1';
}

.icon-ic_sync_problem:before {
  content: '\eab2';
}

.icon-ic_system_update_alt:before {
  content: '\eab3';
}

.icon-ic_system:before {
  content: '\eab4';
}

.icon-ic_team_two:before {
  content: '\eab5';
}

.icon-ic_team:before {
  content: '\eab6';
}

.icon-ic_temperature:before {
  content: '\eab7';
  color: #1599d8;
}

.icon-ic_test_bulb:before {
  content: '\eab8';
}

.icon-ic_test_tube_alt:before {
  content: '\eab9';
}

.icon-ic_test_tube:before {
  content: '\eaba';
}

.icon-ic_text_area:before {
  content: '\eabb';
}

.icon-ic_text_field:before {
  content: '\eabc';
}

.icon-ic_text_format:before {
  content: '\eabd';
}

.icon-ic_textsms:before {
  content: '\eabe';
}

.icon-ic_thermometer:before {
  content: '\eabf';
}

.icon-ic_thumb_down:before {
  content: '\eac0';
}

.icon-ic_thumb_up:before {
  content: '\eac1';
}

.icon-ic_timeline:before {
  content: '\eac2';
}

.icon-ic_to_sell_water:before {
  content: '\eac3';
}

.icon-ic_toc:before {
  content: '\eac4';
}

.icon-ic_today:before {
  content: '\eac5';
}

.icon-ic_top_up:before {
  content: '\eac6';
}

.icon-ic_touch_app:before {
  content: '\eac7';
}

.icon-ic_toys:before {
  content: '\eac8';
}

.icon-ic_track_changes:before {
  content: '\eac9';
}

.icon-ic_trend:before {
  content: '\eaca';
}

.icon-ic_trending_down:before {
  content: '\eacb';
}

.icon-ic_trending_flat:before {
  content: '\eacc';
}

.icon-ic_trending_up:before {
  content: '\eacd';
}

.icon-ic_unarchive:before {
  content: '\eace';
}

.icon-ic_undo:before {
  content: '\eacf';
}

.icon-ic_unfold_less:before {
  content: '\ead0';
}

.icon-ic_unfold_more1:before {
  content: '\ead1';
}

.icon-ic_unfold_more2:before {
  content: '\ead2';
}

.icon-ic_upward:before {
  content: '\ead3';
}

.icon-ic_usb:before {
  content: '\ead4';
}

.icon-ic_user:before {
  content: '\ead5';
}

.icon-ic_valve:before {
  content: '\ead6';
}

.icon-ic_verified_user:before {
  content: '\ead7';
}

.icon-ic_vertical_align_bottom:before {
  content: '\ead8';
}

.icon-ic_vertical_align_center:before {
  content: '\ead9';
}

.icon-ic_vertical_align_top:before {
  content: '\eada';
}

.icon-ic_videocam_off:before {
  content: '\eadb';
}

.icon-ic_videocam:before {
  content: '\eadc';
}

.icon-ic_view_array:before {
  content: '\eadd';
}

.icon-ic_view_day:before {
  content: '\eade';
}

.icon-ic_view_list:before {
  content: '\eadf';
}

.icon-ic_view_module:before {
  content: '\eae0';
}

.icon-ic_visibility_off:before {
  content: '\eae1';
}

.icon-ic_visibility:before {
  content: '\eae2';
}

.icon-ic_voicemail:before {
  content: '\eae3';
}

.icon-ic_volume_down:before {
  content: '\eae4';
}

.icon-ic_volume_mute:before {
  content: '\eae5';
}

.icon-ic_volume_off:before {
  content: '\eae6';
}

.icon-ic_volume_up:before {
  content: '\eae7';
}

.icon-ic_vpn_key:before {
  content: '\eae8';
}

.icon-ic_wallpaper:before {
  content: '\eae9';
}

.icon-ic_wastewater_treatment_factory:before {
  content: '\eaea';
}

.icon-ic_wastewater_treatment_plant:before {
  content: '\eaeb';
}

.icon-ic_wastewater_treatment_state:before {
  content: '\eaec';
}

.icon-ic_watch_later:before {
  content: '\eaed';
}

.icon-ic_watch:before {
  content: '\eaee';
}

.icon-ic_water_factory:before {
  content: '\eaef';
}

.icon-ic_water_quality_plant_state:before {
  content: '\eaf0';
}

.icon-ic_water_quality_state:before {
  content: '\eaf1';
}

.icon-ic_water_supply:before {
  content: '\eaf2';
}

.icon-ic_wb_incandescent:before {
  content: '\eaf3';
}

.icon-ic_widgets:before {
  content: '\eaf4';
}

.icon-ic_wifi_off:before {
  content: '\eaf5';
}

.icon-ic_wifi:before {
  content: '\eaf6';
}

.icon-ic_work:before {
  content: '\eaf7';
}

.icon-ic_wrap_text:before {
  content: '\eaf8';
}

.icon-ic_zoom_in:before {
  content: '\eaf9';
}

.icon-ic_zoom_out_map:before {
  content: '\eafa';
}

.icon-ic_zoom_out:before {
  content: '\eafb';
}

.icon-test-tube:before {
  content: '\eafc';
}
